nodered_fluxo_alimentacao.json
[{"id":"eb9911cc.3118","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac284634.4a2268","type":"mqtt in","z":"eb9911cc.3118","name":"notificacao_alimentaca","topic":"alimentacao","qos":"1","datatype":"auto","broker":"4813dea.f30c32","x":120,"y":141,"wires":[["218fc373.39186c","bc2304df.d48c28"]]},{"id":"218fc373.39186c","type":"debug","z":"eb9911cc.3118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":506,"y":224,"wires":[]},{"id":"bc2304df.d48c28","type":"firebase modify","z":"eb9911cc.3118","name":"notificacao_alimentacao","firebaseconfig":"","childpath":"notificacao","method":"set","value":"msg.payload","priority":"msg.priority","x":550,"y":86,"wires":[[]]},{"id":"4813dea.f30c32","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]